# Â¿Que es Pandas?

Pandas es una libreria

In [1]:
import pandas as pd

In [3]:
#comprobar si funciona pandas o no
datos = {
    "Nombre": ['Ana', 'Luis', 'Pedro'],
    'Edad': [23, 30, 27]
}
df = pd.DataFrame(datos)
print(df)

  Nombre  Edad
0    Ana    23
1   Luis    30
2  Pedro    27

# Series

Es un arreglo unidimensional que puede contener datos de cualquier tipo como `enteros, flotantes, cadenas de texto, etc` y tiene un indice asociado lo que facilita la manipulacion y el acceso a los datos.

In [5]:
# crear una lista
edad = [30, 40, 50]

In [12]:
# convertirla a serie 
serie = pd.Series(edad)

In [7]:
serie

0    30
1    40
2    50
dtype: int64

In [13]:
serie [1]

np.int64(40)

In [14]:
# cambiar los indices
serie = pd.Series(edad, index = ['Alex', 'John', 'Maria'])

In [15]:
serie

Alex     30
John     40
Maria    50
dtype: int64

In [11]:
serie ['John']

np.int64(40)

# Ejemplo 2

In [16]:
naranjas = pd.Series([ 1, 4, 9, 2, 6, 10, 200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [17]:
type(naranjas)

pandas.core.series.Series

In [18]:
naranjas = pd.Series([ 1, 4, 9, 2, 6, 10, 200], index = ['Marco', 'Ana', 'Juan', 'Pedro', 'Estela', 'Ivan', 'Luis'])
print(naranjas)

Marco       1
Ana         4
Juan        9
Pedro       2
Estela      6
Ivan       10
Luis      200
dtype: int64